body {
	background-color: #ecf0f1;
	color: #2c3e50;
	font-family: Verdana;
}
button {
	border: 1px solid #ccc;
	background-color: #e8e8e8;
}
button:hover {
	background-color: #c8e8e8;
}
.controls {
	border: 1px solid #ddd;
	padding: 10px;
	width: 50%;
	opacity: .3;
	transition: opacity.5s;
}
.controls:hover {
	opacity: .9;
}
.field {
	margin-bottom: 1%;
	width: 725px;
	border: 1px solid #dadada;
	overflow: hidden;
}
.field > div {
	border: 1px solid #d1d1d1;
	width: 9px;
	height: 9px;
	float: left;
	position: relative;
	box-sizing: border-box;
}
.field > div:hover {
	border: 1px solid #333;
}
div.dead {
	background-color: #f1f1f1;
	transition: background-color .1s;
	border: none;
}
div.alive {
	background: rgba(12, 12	, 12, .7);
	transition: background-color .1s;
}
.clear {
	clear: both;
	margin: 0;
	padding: 0;
}
#population {
	font-size: 10pt;	
	display: inline;
}